<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles.css">
    <title>Camilo Martinez | Acerca de mí</title>
</head>
<body>
    <div class="background"></div>
    <header class="header">
        <img class="profileImage" src="../img/profileImage.jpeg" alt="camilo_martinez">
        <nav class="nav">
            <ul>
                <li>
                    <a href="../index.html">Home</a>
                </li>
            </ul>
        </nav>
    </header>
    <section>
          <p>
              My name is <b>Camilo Martinez</b> i'am 29 years old, actually i live in Medellin, Colombia. I love the food as programming, actually i am studying to be certified like Tech Developer in <a href="https://www.digitalhouse.com">Digital House</a>
          </p>  
    </section>
    <footer class="footer">
        <img class="icons" src="../img/icons.png" alt="icons">
    </footer>
</body>
</html>